.container {
    max-width: 320px;
}

main .section1-bg {
    height: 187px;
}

.watch-you .ellipse-container .title-block {
    
    flex-direction: column;
    justify-content: center;
}


.watch-you .ellipse-container .title-block .title {
    font-size: 28px;
    width: 128.13px;
    height: 102.44px;
    left: 18.7px;
    top: -29.95px;
    align-self: flex-end;
}


.watch-you .ellipse-container .title-block .title::before {
    width: 119.09px;
    height: 119.09px;
    border-radius: 119.09px;
    left: -15.7px;
    top: -16.17px
}

.watch-you .ellipse-container .title-block .btn {
    align-self: unset;
}

main .section2 {
    height: auto;
    width: auto;
}

main .section2_wrapper {
    background-image: url(assets/images/flower_foto2.png);
    background-repeat: no-repeat;
    background-position: right 0;
    padding-top: 40px;
    padding-bottom: 30px;
}

main .section2 .section-content h2 {
    font-size: 24px;
    margin-top: 60px;
    margin-bottom: 10px;
}

main .section2 .section-content .subtitle {
    margin-top: 20px;
    margin-bottom: 10px;
}

main .slider_block {
    width: auto;
    margin: 0 auto;
}

main .row1,
main .row2 {
    flex-direction: column;
}

main .row1 {
    margin-bottom: 0px;
}

.right-ellipse,
.left-ellipse {
    display: none;
}

main .animals-container {
    margin-bottom: 20px;
}

.choose-btn {
    margin-top: 0;
    padding-bottom: 60px;
}

main .animals_section {
    height: auto;
}

main .animals_wrapper {
    background-image: url(assets/images/palm_foto2.png), url(assets/images/strelitzia\ 2.png);

}

main .section4 {
    padding-top: 40px;
    padding-bottom: 60px;
    height: 1084px;
}

main .section4 .container {
    width:360px;
    height: auto;
    background-color: transparent;
    padding: 0;

}

main .section4 .container .heading {
    text-align: center;
    margin-left: 0;
}

main .section4 .container h2 {
    font-size: 24px;
}

main .section4 .container p {
    width: auto;
}

main .section4 .container .content .subtitle {
    font-size: 18px;
}

.texts {
    display: none;
}

main .section4 .container .subtitle-container,
main .section4 .container .content {
    margin-left: 0;
    text-align: center;
}

main .section4 .container .subtitle-container {
    margin-bottom: 20px;
}

.subtitle-container h3 {
    font-size: 24px;
}

main .section4 .container .row {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: unset;
}


main .section4 .container .widget p {
    margin-top: 10px;
}

main .section4 .container .arrow {
    margin: 0;
    position: relative;
    width: 63.12px;
}

main .section4 .container .arrow img {
    content: url(assets/images/arrow1.png);
    position: absolute;
    top: -85px;
    left: 123px;
}

main .section4 .container .btn-container{
    margin-top: 30px;
}


main .section5-wrapper {
    background-image: url(assets/images/leav_foto2.png);
    padding-top: 60px;
    padding-bottom: 60px;
    background-position: right 105%;
}

main .testimonial-list {
    flex-direction: column;
    gap: 15px;
}

main .testimonial-item {
    width: 299px;
}

.show {
    display: inline;
}

main .testimonial-item .text, .hide {
    display: none;
}

main .slider_container {
    display: none;
}


main .testimonial-item:nth-child(2) {
    margin: 0;
}

main .section5-wrapper .btn-container {
    text-align: unset;
    margin-top: 30px;
}

footer {
    padding: 20px 0;
}

footer .small-screen-footer .social-icons {
    display: none;
}

footer .small-screen-footer .social-icons1 {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 30px 0;
}

footer .small-screen-footer .content1,
footer .small-screen-footer .content2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}


footer .small-screen-footer .content1 .logo {
    position: relative;
    display: unset;
    border: none;
    max-width: 128px;
    max-height: 23px;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    margin-right: 0;
}

footer .small-screen-footer .content1 .logo::before {
    content: '';
    left: 53.5%;
    top: 2px;
    background-image: url(assets/icons/bamboo.svg);
    color: #FFFFFF;
}


footer .small-screen-footer .content2 nav {
    order: 1;
    margin-top: 30px;
    margin-bottom: 0;
}

footer .small-screen-footer .content2 .navbar-links {
    gap: 30px;
}