/* Page Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */
:root {
    /* Colors */
    --green: #4B9200;
    --orange: #F9804B;
    --yellow: #FFEE2E;
    --orange-grad: #FED290;
    --pink-grad: #FEBDAB;
    --red: #D31414;
    --black_blue: #333B41;
    --gray: #767474;
    --gray_smoky: #ABABAB;
    --light_gray: #F1F2F3;
    --frosted-glass: #FDFDFF;
    /* Fonts */
    --font-family: 'Roboto', sans-serif;
}

/* Default Styles */
body {
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    color: var(--black_blue);
}

header,
main,
footer {
    max-width: 100%;
}

h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 114px;
    line-height: 80%;
}

h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
}

h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
}

h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #000000;
}

a {
    text-decoration: none;
}

.subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
}

.small-paragraph {
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
}

.btn {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-transform: uppercase;
    color: #000000;
}

.container {
    max-width: 1160px;
    margin: auto;
}

/* Buttons Style */
.btn-rounded {
    width: 298px;
    padding: 15px 5px;
    border-radius: 25px;
    color: #fff;
    border: none;
}

.btn-square {
    width: 298px;
    padding: 15px 5px;
    border-radius: 5px;
    color: #fff;
    border: none;
}

.btn-light {
    background-color: #FE9013;
}

.btn-dark {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}

/* Header Styles */
header {
    /* height: 80px; */
    left: 0px;
    top: 0px;
    background: #000000;
    backdrop-filter: blur(2px);
    padding: 20px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    margin-left: 20px;
}

.logo {
    position: relative;
    display: flex;
    align-items: center;
    border: 2px solid white;
    max-width: 85px;
    max-height: 47px;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    margin-right: 20px;
    padding: 5px 0;
}

.logo::before {
    content: '';
    position: absolute;
    display: block;
    height: 40%;
    width: 14%;
    left: 12.5%;
    top: 44%;
    background-image: url(assets/icons/bamboo.svg);
    color: #FFFFFF;
}

.logo h1 {
    font-size: 19px;
    font-weight: 400;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
}

.designed-by a {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #fff;
}

a.active {
    color:  #F9804B;
}

.navbar-links {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar-links li {
    margin-right: 30px;
}

.nav-item {
    color: #fff;
    display: inline-block;
    padding: 14px;
    text-decoration: none;
    padding: 10px;
    transition: all cubic-bezier(0.55, 0.055, 0.675, 0.19) ease-in;
}

.nav-item:hover {
    color:  #F9804B;
}

/* Main Content Styles */
/*  */

main .section1-bg {
    margin: 0 auto;
    max-width: 100%;
    background: #283035 url('assets/images/Giant\ Panda.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 60vh;
}

main .section1-bg h2 {
        margin: 74px 0 0 72px;
        font-weight: 700;
        font-size: 106.496px;
        line-height: 75%;
        text-align: center;
        text-transform: uppercase;
        width: 500.31px;
        height: 400px;
        color: #FFFFFF;
}
main .section1-bg .container {
    width: 1275px;
    height: 478px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.ellipse {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    width: 465px;
    height: 465px;
    border-radius: 50%;
}

.watch-btn-div{
    width: 972px;
    height: 190px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

main .section2 {
    position: relative;
    display: flex;
    height: 403px;
    margin-top: 150px;
    margin-bottom: 70px;
}

main .section2 .img-container {
    width: 609px;
    height: 403px;
    background: url(assets/images/bamboo-cap.png);
    backdrop-filter: blur(2px);
}

main .section2 .section-content {
    width: 465px;
    margin-left: 69px;
}

main .section2 .section-content h2 {
    margin-bottom: 20px;
}

main .section2 .section-content .subtitle {
    margin-bottom: 30px;
}

main .section2 .section-content .content-2 {
    position: absolute;
    bottom: 0;
}

main section {
    position: relative;
}

main .section2 .flower-bg {
    position: absolute;
    right: 0;
    width: 293px;
    height: 605px;
    background: url(assets/images/flower_foto1.png);
    background-repeat: no-repeat;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

main .section3 {
    height: 872px;
    margin-top: 180px;
}

main .section3 .row1,
main .section3 .row2 {
    display: flex;
    margin-bottom: 20px;
}

main .section3 .animal-card {
    width: 366px;
    margin-right: 25px;
    border: 1px solid #FE9013;
    border-radius: 5px;
}

main .section3 .animal-card:last-child {
    margin-right: 0;
}

main .section3 .animal-card img {
    width: 100%;
    object-fit: cover;
    height: 336px;
    border-radius: 5px 5px 0 0;
}

main .section3 .animal-card .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    margin: 10px 15px;
}

main .section3 .animal-card .content .icon {
    width: 33px;
    height: 37px;
}

main .section3 .animal-card .content .icon img {
    width: 100%;
    object-fit: cover;
    height: auto;
}

main .section4 {
    height: 1004px;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;
}

main .section4 .container {
    height: 835px;
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
}

main .section4 .container .row {
    display: flex;
    justify-content: center;
}

main .section4 .container .widget {
    width: 168px;
    height: 244px;
    border-radius: 5px;
}

main .section4 .container .arrow {
    width: 168px;
    height: 168px;
    background: url(./assets/icons/arrow.svg) no-repeat center center;
}

main .section4 .container .widget div {
    width: 168px;
    height: 168px;
    border-radius: 5px;
    border: 1px solid #FE9013;
    background: #fff url(./assets/icons/pay.svg) no-repeat center center;
}

main .section4 .container .widget .zoo {
    background: #fff url(./assets/icons/zoo.svg) no-repeat center center;
}

main .section4 .container .widget .monkey {
    background: #fff url(./assets/icons/monkey.svg) no-repeat center center;
}

main .section4 .container .widget p {
    margin-top: 25px;
}

.testimonial-card {
    position: relative;
    width: calc((1160px - 30px * 3) / 4);
    border-radius: 20px;
    padding: 15px;
    background-color: #f1f3f2;
}

.testimonial-card:after {
    content: "";
    background-image: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%);
    border-radius: 20px;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    position: absolute;
    z-index: -1;
}

.testimonial-card .content p {
    color: #bdbdbd;
}

.slider_container {
    width: 52%;
    margin: 0 auto;
    margin-bottom: 24px;
}

.slider_testimonials {
    width: 100%;
    height: 7px;
    -webkit-appearance: none;
    appearance: none;
    background:  #F5F7F6;
    border-radius: 5px;
    border: 1px solid #fec1b1;
}

.slider_testimonials::-webkit-slider-thumb {
    -webkit-appearance: none;
    background:#fd8f12;
    width: 19%;
    height: 7px;
    cursor: pointer;
    border-radius: 5px;
}

footer {
    background-color: #111115;
    padding: 50px 0;
}

footer .subtitle {
    color: #fff;
    margin-bottom: 10px;
}

footer input[type="email"] {
    width: 228px;
    padding: 7px 5px;
    background: transparent;
    color: #bdbdbd;
    border: none;
    border: 1px solid #F9804B;
    outline: none;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
border-radius: 2px;
margin-right: 5px;
}

footer input[type="submit"] {
    width: 129px;
    padding: 11px 0;
    background: #F1F3F2;

border: 1px solid var(--green);
border-radius: 5px;
    color: var(--green);
    border: none;
    outline: none;
    transition: all o.5s ease-in-out;
}

footer input[type="submit"]:hover {
    background-color: transparent;
    border: 1px solid #f1f3f2;

}

footer .content2 {
    margin: 40px 0;
}

footer .content3 .socials {
    display: flex;
    flex-direction: column;
}


footer .designed-by,
footer nav {
    align-self: flex-end;
}

footer nav {
    margin-left: 150px;
}

footer .designed-by a{
    font-weight: 100;
font-size: 16px;
line-height: 130%;
    color: #ffffff94;;
}
