.container {
    max-width: 940px;
}

.navbar-links {
    gap: 48px;
}

main .container {
    padding-bottom: 30px;
}

main .content h3 {
    padding-bottom: 30px;
}

main .content~h3 {
    padding-bottom: 40px;
}

main .pick-container {
    height: 918px;
    padding: 20px 47px 46px;
}

main .pick-container .wrapper {
    width: 940px;
    padding: 0px;
}

main .pick-container .wrapper .progress-bar {
    height: auto;
}

main .pick-container .wrapper .progress-bg {
    margin: 20px 0 36px;
    width: 810px;
}

main .pick-container .wrapper .progress-bg .line {
    width: 785px;
}

main .pick-container .wrapper .progress-bg .donate-amount-container {
    width: 785px;
}

main .pick-container .wrapper .progress-bg .donate-amount-container .donate-box-5000 {
    display: none;
}

main .pick-container .wrapper .form-footer-content {
    justify-content: unset;
    align-items: unset;
    position: absolute;
    left: 34%;
}

main .pick-container .wrapper .another-amount {
    margin-left: 15px;
    }

footer .desktop-footer nav {
    margin-left: 125px;
}

